@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.kurale-regular {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  /* overflow: hidden; */
  font-family: "kurale" !important;
}
.bttn {
   text-transform: uppercase;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul,ol,li{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a,Link{
  color: inherit;
  text-decoration: none;
}
.menu{
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: #036685;
  color: white;
  height: 60px;
  width: 100% ;
  letter-spacing: 2px;
  /* padding: 5px 40px; */
}
.menu h2{
  font-size: 36px;
}
.menu .icon svg{
  font-size: 20px;
  margin: 5px;
}
.v_menu .icon svg{
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 1px;
} 
.menu .icon .line{
  height: 80;
  width: 1px;
  margin: 0px 15px;
  background-color: rgba(0,0,0, 0.3);
}
.v_menu{
  position: fixed !important;
  top: 60px;
  left: 0;
  color: black;
  text-transform: capitalize;
  width: 300px;
  overflow: hidden;
  height: 92vh;
  box-shadow: 1px 10px 20px lightgrey; 
}
.admin_name{
  padding: 20px 10px;
}
.admin_name p {
  text-transform: lowercase;
  margin-left: 10px;
  color: grey;
  text-align: end;
  margin-bottom: 0px;
}
.admin_name svg{
  height: 40px;
  width: 40px;
  margin: 5px;
}
.main_menu {
  padding: 0px;
}
.main_menu hr{
  margin: 0px !important;
}
.main_menu li{
  font-size: 18px;
  padding: 10px 20px;
  border-bottom: 1px solid lightgrey;
}
.main_menu a{
  color: black;
  text-decoration: none;
}
.main_menu li:hover {
  background-color: #036685;
  color:white;
}
.main_menu li:hover a{
  color: #212631;
}
.submenu {
  display: none;
}
.submenu li{
  border-bottom:none;
}
.main_menu li:hover .submenu{
  display: block;
  transition:.5s;
}
/* dashboard page csss */
.dashboard{
  overflow: hidden;
  margin-top: 20px;
  width: 80%;
  position: absolute;
  /* padding: 40px; */
  top: 100px;
  left: 0px;
  margin-left:300px ;
  color: white;
}
.dashboard .dash_box{
  border-radius: 0.375rem;
  width: 400px;
  height: 180px;
  margin: 20px auto;
  background-color: black;
  box-shadow: 0px 1px 5px grey; 
}
.dash_box h2{
  color: white;
  padding: 40px 15px;
  padding-top: 40px;
  font-size: 38px;
}
.dash_box a{
  text-decoration: none;
  padding-left: 20px;
  display: flex;
  color: white;
  text-align: right;
}
/* admin add css */
.adminadd{
  margin: 20px auto!important;
  padding:10px 30px;
  text-transform: uppercase;
  width: 500px;
  /* margin: auto; */
  color: black;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  background-color: white;
}
.adminadd  h3{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
.adminadd h5{
  padding: 10px 0px;
  font-size: 14px;
}
.adminadd input,select{
  width: 100%;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  border: 2px solid grey;
}
.adminadd .bttn{
  padding: 2px 40px;
  margin: 20px auto;
  background-color:#036685;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-transform: capitalize;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #036685;
}
.adminadd .bttn:hover {
  background-color:transparent;
  color: #036685;
}
/* inquiry css */
.inquiry {
  margin: 20px auto!important;
  width: calc(100% - 60px);
  padding:10px 30px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  margin: auto;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
}
.inquiry .text {
  padding: 10px;
}
.inquiry .text select {
  width: 150px !important;
  width: max-content;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  border: 2px solid grey;

}
.inquiry .text input{
  width: 300px;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  border: 2px solid grey;
}
.inquiry h3{
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
.inquiry h5{
    padding: 10px 0px;
  font-size: 14px;
}
.inquiry .bttn{
  padding: 5px;
  margin: 20px auto;
  background-color:#036685;
  display: flex;
  width: 200px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #036685;
}
.inquiry .bttn:hover {
  color: #036685;
  background-color: transparent;
}
/* login css */
.login .adminadd{
  color:white;
  margin-top:40px ;
  width: 300px;
}
/* data table css */
.data_table{
  color: black;
  margin: 40px;
  background-color: white;
  box-shadow: 1px 1px 5px ;
  border-radius: 10px;
  padding: 50px auto !important;
}
.data_table .heading{
  text-align: center;
  text-transform: uppercase;
  padding:40px 0px;
  border-bottom: 1px solid lightgrey;
}
.data_table .table {
  margin: auto;
  padding: 20px;
}
table {
  text-align: center;
}
.data_table .table td , th {
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
}
.data_table .table1 {
  margin: auto;
}
.data_table  .table1 th , td {
  padding: 20px;
  text-align: center;
}
.data_table .back {
  text-transform: uppercase;
  padding: 5px;
  text-align: end;
  margin: 20px auto;
  margin-bottom: 30px !important;
  margin-top: 40px;
  background-color:#036685;
  display: flex;
  width: 200px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #036685;
}
.data_table .back:hover {
 background-color: transparent;
 color:#036685;
}
.data_table1{
  flex-wrap: wrap;
  width: 500px ;
  margin: 40px auto;
}
.button{
  color: white !important;
  background-color: #036685 !important;
  padding: 5px 10px !important;
  border-radius: 5px;
  text-decoration: none;
}
.button:hover{
  color: #036685 !important;
  background-color: transparent !important;
}
/* -------------card css-------------- */
.contain {
  overflow: hidden;
  margin: 20px 0px;
  color: white;
  position: relative;
  background-color:#292f3c;
  border-radius: 0.7rem;

}

.contain::before,
.contain::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.contain::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.contain::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.contain .box {
  text-transform: capitalize;
  width: 400px;
  height: 200px;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.222);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.contain .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contain .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.contain .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.contain .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.contain .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.contain .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.contain .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
.contain a {
  color: white;
  text-decoration: none;
}
/* login css */
.form {
  margin-top: 100px !important;
  width: 250px;
  height: 300px !important;
  margin: auto;
  background: #F4F6FB;
  border: 1px solid white;
  box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form {
  padding: 25px;
}

.form .form_header {
  display: flex;
  align-items: center;
}

.form svg {
  color: #7878bd;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form .form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color:grey;
}

.form .field {
  padding-bottom: 10px;
}

.form .input {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 100%;
  color: #7a7ab3;
  border: 1px solid #dadaf7
}

.form .input:focus-visible {
  outline: 1px solid #aeaed6;
}

.form .input::placeholder {
  color: #bcbcdf;
}

.form label {
  color: #B2BAC8;
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}

.form .button {
  background-color: #036685;
  margin-top: 40px ;
  font-size: 14px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
  border: none;
}

.form .button:hover {
  background-color: transparent;
  color: #036685;
}
/* shoartcut menu css */
.wrapper {
  position: fixed;
  bottom: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
}

footer .demo {
  position: absolute;
  bottom: 10px;
  width: 500px;
  margin: 0 auto;
}

footer .demo a {
  text-align: center;
  color: #000;
  text-decoration: none;
  font-weight: 100;
  border-bottom: 1px solid #000;
}
 .demo a svg {
  color :  white ;
 }
.circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--white);
  transition: 0.2s;
  text-align: center;
}

.circle:active {
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}

.circle:hover {
  cursor: pointer;
  background-color: var(--af-white);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.circle .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(180deg);
}

.circle svg image {
  filter: brightness(50%);
}

.sub-circle {
  z-index: 0;
  position: absolute;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0.5);
  opacity: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white) !important;
  border: none;
}
.sub-circle:hover label {
  background-color: black;
}
.sub-circle a svg {
  color: #036685;
}
.sub-circle .label {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 45px;
  transition: .5s;
}

.sub-circle .label:hover {
  cursor: pointer;
  background-color: grey;
}
/* body {} */
.subs {
  left: -20px;
  top: -50px;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.hidden-sub-trigger {
  display: none;
}

.hidden-sub-trigger:checked ~ label {
  background-color: var(--white);
}

.hidden-trigger {
  display: none;
}

.hidden-trigger:checked ~ .circle {
  transform: scale(0.9);
  cursor: pointer;
  background-color: var(--white);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}

.hidden-trigger:checked ~ .circle .svg {
  transform: rotate(45deg);
}

.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  transform: translate(0px, -100px) scale(1);
  opacity: 1;
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  transform: translate(75px, -75px) scale(1);
  opacity: 1;
  transition: 0.2s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  transform: translate(100px, 0px) scale(1);
  opacity: 1;
  transition: 0.3s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(4) {
  transform: translate(75px, 75px) scale(1);
  opacity: 1;
  transition: 0.4s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(5) {
  transform: translate(0px, 100px) scale(1);
  opacity: 1;
  transition: 0.5s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(6) {
  transform: translate(-75px, 75px) scale(1);
  opacity: 1;
  transition: 0.6s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(7) {
  transform: translate(-100px, 0px) scale(1);
  opacity: 1;
  transition: 0.7s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(8) {
  transform: translate(-75px, -75px) scale(1);
  opacity: 1;
  transition: 0.8s;
}
/* --------confirm-------------*/
.notificationCard {
  text-align: center;
  position: absolute;
  top:30%;
  left: 45%;
  z-index: 2;
  width: 200px;
  height: 150px;
  background:white;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  gap: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0);
  border-radius: 20px;
}

.bellIcon {
  width: 50px;
  margin: 20px 0px;
}

.bellIcon path {
  fill: #036685;
}

.notificationHeading {
  color: black;
  font-weight: 600;
  font-size: 0.8em;
}

.notificationPara {
  color: rgb(133, 133, 133);
  font-size: 0.6em;
  font-weight: 600;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.AllowBtn {
  width: 120px;
  height: 25px;
  background-color: #036685;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
}

.NotnowBtn {
  width: 120px;
  height: 25px;
  color: rgb(168, 131, 255);
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 0.7em;
  cursor: pointer;
  border-radius: 20px;
}

.NotnowBtn:hover {
  background-color: rgb(239, 227, 255);
}

.AllowBtn:hover {
  background-color: white;
  color: #036685;
}
/* loader css */
.loader {
  margin: 40px auto;
  width: 44.8px;
  height: 44.8px;
  color: #036685;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  margin: auto;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

@media (max-width : 1200px) {
  .dashboard{
  overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    margin-left:0px ;
  }
  /* .wrapper{
    margin-right: 100px;
  } */
}
@media (max-width:768px) {
  .contain .box {
    text-transform: capitalize;
    width: 200px;
    height: 100px;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }
  .wrapper{
    margin-right: 50px;
  }
  /* .sub-circle {
    top: 10;
    left: -5;
  } */
}
@media (max-width:500px) {
  .adminadd {
    width: 300px;
  }
  .inquiry .text input{
    width: calc(120%);
  }
  .data_table1 , .data_table {
    width: 400px;
    margin: 40px auto;
    /* overflow-x: auto; */
  }
  td {
    padding: 10px 2px;
  }
}
@media (max-width:400px) {
  .data_table1 ,.data_table {
    width: 300px;
    padding: 30px 5px;
    margin: 40px auto;
    /* margin: 5px; */
    /* display: none; */
    /* overflow-x: auto; */
  }
  td {
    padding: 10px 2px;
  }
}